body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.login-bar {
    position: fixed;
    top: 0;
    right: 20px;
    max-width: 800px;
    height: 50px;
    background: linear-gradient(to bottom, dodgerblue, #0d0d0d);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex: 1;
}

.login-bar .links a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.login-box {
    position: absolute;
    top: 45px;
    right: 20px;
    max-width: 285px;
    height: 0;
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Use 'border-color' instead of 'border' */
    overflow: hidden;
    z-index: 998;
    border: 0px solid transparent; /* Set a transparent border initially */
}

.login-box.open {
    transform: translateY(0%);
    height: 195px; /* Set the desired height for the login box */
    border-color: dodgerblue; /* Set the desired border color when revealed */
    border: 1px dodgerblue solid; /* Set the desired border style when revealed */
}


.login-box form {
    padding: 20px;
}

.login-box input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.login-box button {
    background-color: dodgerblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}